.cards {
  max-width: 882px;
  max-height: 1757px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

@media screen and (max-width: 925px) {
  .cards {
    gap: 28px;
  }
}

@media screen and (max-width: 650px) {
  .cards {
    display: grid;
    align-items: center;
    max-height: 2403px;
    gap: 33px;
  }
}
