.group-product__subtitle {
  font-size: 14px;
  font-weight: 400;
  color: var(--brown);
  margin: 0;
  height: 20px;
}

@media screen and (max-width: 768px) {
  .group-product__subtitle {
    width: 145px;
    height: 18px;
    font-size: 14px;
  }
}
