.catalog-header__img-search {
  max-width: 31.72px;
  max-height: 37px;
  position: relative;
  top: 2px;
  left: 41px;
}

@media screen and (max-width: 925px) {
  .catalog-header__img-search {
    width: 22.61px;
    height: 21.66px;
    top: 2px;
    left: 25px;
  }
}
