.catalog-main {
  display: grid;
  justify-content: center;
  margin-bottom: 70px;
  margin-top: 90px;
  gap: 60px;
}

@media screen and (max-width: 320px) {
  .catalog-main {
    margin-top: 80px;
  }
}
