.content__second-price {
  font-size: 16px;
  font-weight: 400;
  text-decoration: line-through;
  margin: 0;
  width: 42px;
  height: 26px;
  margin-top: 10px;
}

@media screen and (max-width: 925px) {
  .content__second-price {
    font-size: 14px;
  }
}
