.everyday__title {
  margin: 0;
  font-size: 25px;
  height: fit-content;
  width: 490px;
  color: var(--white);
  margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .everyday__title {
    font-size: 20px;
    text-align: center;
  }
}

@media screen and (max-width: 560px) {
  .everyday__title {
    width: 350px;
  }
}

@media screen and (max-width: 400px) {
  .everyday__title {
    width: 300px;
  }
}
