.about-main {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 57px;
  margin-bottom: 70px;
}

@media screen and (max-width: 510px) {
  .about-main {
    display: grid;
    justify-content: center;
  }
}
