.about-main__subtitle {
  font-size: 20px;
  font-weight: 500;
  color: var(--pink);
  margin: 0;
}

@media screen and (max-width: 1005px) {
  .about-main__subtitle {
    width: 442px;
    height: 58px;
    font-size: 18px;
  }
}

@media screen and (max-width: 675px) {
  .about-main__subtitle {
    width: 354px;
    height: 77px;
  }
}

@media screen and (max-width: 510px) {
  .about-main__subtitle {
    width: 220px;
    height: 88px;
    font-size: 16px;
  }
}
