.daily-planer__paragraph {
  margin: 0;
  font-size: 30px;
  line-height: 40px;
  color: var(--white);
}

@media screen and (max-width: 320px) {
  .daily-planer__paragraph {
    font-size: 18px;
  }
}
