.about-main__about-text {
  margin: 0;
  width: 1197px;
  height: fit-content;
  font-size: 16px;
}

@media screen and (max-width: 1220px) {
  .about-main__about-text {
    width: 940px;
  }
}

@media screen and (max-width: 1005px) {
  .about-main__about-text {
    width: 688px;
    font-size: 14px;
  }
}

@media screen and (max-width: 785px) {
  .about-main__about-text {
    width: 585px;
    font-size: 14px;
  }
}

@media screen and (max-width: 675px) {
  .about-main__about-text {
    width: 427px;
  }
}

@media screen and (max-width: 675px) {
  .about-main__about-text {
    font-size: 12px;
    width: 238px;
  }
}
