.group-product {
  width: 856px;
  height: 197px;
  box-shadow: 0px 4px 20px 3px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* @media screen and (max-width: 1285px) {
  .group-product {
    max-width: 750px;
  }
} */
@media screen and (max-width: 1024px) {
  .group-product {
    height: 165px;
  }
}

@media screen and (max-width: 768px) {
  .group-product {
    width: 481px;
    height: 126px;
  }
}

@media screen and (max-width: 725px) {
  .group-product {
    width: 400px;
    height: 126px;
  }
}

@media screen and (max-width: 480px) {
  .group-product {
    width: 240px;
    height: 115px;
    flex-wrap: wrap;
  }
}
