.life__paragraph {
  margin: 0;
  font-size: 16px;
  width: 490px;
  height: fit-content;
  color: var(--dark-purpule);
  text-align: justify;
}

@media screen and (max-width: 768px) {
  .life__paragraph {
    font-size: 14px;
    text-align: center;
  }
}

@media screen and (max-width: 560px) {
  .life__paragraph {
    width: 350px;
  }
}

@media screen and (max-width: 400px) {
  .life__paragraph {
    width: 300px;
  }
}
