.header {
  padding: 20px 40px 0;
  height: 100%;
  min-height: 750px;
  max-height: 750px;
  display: flex;
  justify-content: center;
  background-image: url("../../images/header/bg-header.png");
  background-repeat: no-repeat;
  background-size: cover;
}
