.group-product__plus {
  width: 23px;
  height: 23px;
  background-color: var(--pink);
  border-radius: 0 6px 6px 0;
  border: none;
  cursor: pointer;
  color: var(--white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
}

@media screen and (max-width: 480px) {
  .group-product__plus {
    width: 15px;
    height: 15px;
    font-size: 10px;
    border-radius: 0 4px 4px 0;
  }
}
