.content {
  display: flex;
  justify-content: flex-start;
  margin-top: 25px;
}

@media screen and (max-width: 790px) {
  .content {
    display: grid;
    gap: 50px;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 560px) {
  .content {
    margin-top: 35px;
  }
}
