.header__link {
  font-style: italic;
  font-size: 16px;
  line-height: 32px;
  color: var(--white);
}

.header__link:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .header__link {
    font-size: 14px;
  }
}
