.footer__text {
  margin: 0;
  font-size: 16px;
  font-weight: 900;
  line-height: 47px;
  color: var(--black);
}

@media screen and (max-width: 768px) {
  .footer__text {
    font-size: 14px;
  }
}
@media screen and (max-width: 480px) {
  .footer__text {
    font-size: 12px;
  }
}
