.everyday {
  padding: 81px 40px;
  display: flex;
  justify-content: center;
  gap: 70px;
  background: var(--purpule);
}

@media screen and (max-width: 1236px) {
  .everyday {
    display: grid;
    text-align: center;
    justify-items: center;
  }
}
