.everyday.css {
    padding: 80.5px 40px 0;
    height: 100%;
    min-height: 720px;
    max-height: 720px;
    background-color: #5B7CAF;
    background-repeat: no-repeat;
    background-size: cover;
}
