.ref-card__text_brown {
  width: 71px;
  height: 30px;
  color: var(--brown);
  margin: 0;
  margin-top: 19px;
}

@media screen and (max-width: 1005px) {
  .ref-card__text_brown {
    margin-top: 0;
  }
}

@media screen and (max-width: 1005px) {
  .ref-card__text_brown {
    width: fit-content;
    height: fit-content;
  }
}
