.catalog-header__search {
  display: flex;
  align-items: center;
}

/* @media screen and (max-width: 1100px) {
  .catalog-header__search {
    width: 600px;
  }
}

@media screen and (max-width: 925px) {
  .catalog-header__search {
    width: 450px;
  }
}

@media screen and (max-width: 730px) {
  .catalog-header__search {
    width: 350px;
  }
} */

/* @media screen and (max-width: 445px) {
  .catalog-header__search {
    width: 150px;
  }
} */

/* @media screen and (max-width: 335px) {
  .catalog-header__search {
    position: relative;
    left: -10px;
  }
} */
