.products__image {
  width: 350px;
  height: fit-content;
  object-fit: cover;
}

.products__image:hover {
  opacity: 0.5;
}

@media screen and (max-width: 1236px) {
  .products__image {
    margin: 47px 0 90px 0;
  }
}

@media screen and (max-width: 768px) {
  .products__image {
    width: 250px;
  }
}
