.everyday__container {
  width: 490px;
  height: fit-content;
  display: grid;
  gap: 0;
  align-self: center;
}

@media screen and (max-width: 560px) {
  .everyday__container {
    width: fit-content;
  }
}
