.about-main__greeting {
  display: flex;
  flex-direction: column;
  width: 1047px;
  height: 175px;
  background-color: var(--white);
  box-shadow: 0px 4px 20px 3px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  box-sizing: border-box;
  padding-left: 27px;
  justify-content: center;
  align-self: center;
}

@media screen and (max-width: 1220px) {
  .about-main__greeting {
    width: 558px;
    height: 175px;
    gap: 10px;
  }
}

@media screen and (max-width: 1005px) {
  .about-main__greeting {
    gap: 19px;
  }
}

@media screen and (max-width: 675px) {
  .about-main__greeting {
    width: 400px;
    height: 222px;
    gap: 2px;
  }
}

@media screen and (max-width: 510px) {
  .about-main__greeting {
    width: 240px;
    height: 217px;
    gap: 3px;
    padding-left: 10px;
  }
}
