.header__subtitle {
  margin: 0 0 35px;
  width: 560px;
  height: 69px;
  font-style: italic;
  font-size: 40px;
  color: var(--white);
}

@media screen and (max-width: 1024px) {
  .header__subtitle {
    text-align: center;
    font-size: 25px;
    height: fit-content;
  }
}

@media screen and (max-width: 560px) {
  .header__subtitle {
    font-size: 18px;
    width: fit-content;
  }
}
