.group-product__second-price {
  font-size: 16px;
  font-weight: 400;
  color: var(--pink);
  text-decoration: line-through;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .group-product__second-price {
    width: 33px;
    height: 20px;
    font-size: 14px;
  }
}

@media screen and (max-width: 480px) {
  .group-product__second-price {
    font-size: 12px;
    width: 28px;
    height: 20px;
  }
}
