.life__container {
  width: 490px;
  height: fit-content;
  align-self: center;
  display: grid;
  justify-items: center;
  gap: 0;
}

@media screen and (max-width: 560px) {
  .life__container {
    width: fit-content;
  }
}
