.catalog-header__search-string {
  border-color: var(--pink);
  border-radius: 16px;
  width: 775px;
  height: 41px;
  padding: 0;
  padding-left: 40px;
  margin-top: 3px;
}

.catalog-header__search-string:active {
  border-color: var(--dark-purpule);
}
