.catalog-header__search-string {
  border-color: var(--pink);
  border-radius: 16px;
  width: 775px;
  height: 41px;
  padding: 0;
  padding-left: 40px;
  margin-top: 3px;
}

.catalog-header__search-string:active {
  border-color: var(--dark-purpule);
}

@media screen and (max-width: 1100px) {
  .catalog-header__search-string {
    width: 600px;
  }
}

@media screen and (max-width: 925px) {
  .catalog-header__search-string {
    width: 450px;
    height: 24px;
    padding-left: 25px;
  }
}

@media screen and (max-width: 730px) {
  .catalog-header__search-string {
    width: 350px;
  }
}
