.content__card {
  width: 306px;
  height: 175px;
  background: #ffffff;
  box-shadow: 0px 4px 20px 3px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 1300px) {
  .content__card {
    order: -1;
  }
}

@media screen and (max-width: 925px) {
  .content__card {
    width: 219px;
    display: grid;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 25px 20px;
  }
}

@media screen and (max-width: 790px) {
  .content__card {
    justify-self: center;
    width: 452px;
  }
}

@media screen and (max-width: 560px) {
  .content__card {
    width: 314px;
  }
}
