.life__title {
  margin: 0;
  font-size: 25px;
  width: 490px;
  height: fit-content;
  color: var(--dark-purpule);
  margin-bottom: 35px;
}

@media screen and (max-width: 768px) {
  .life__title {
    font-size: 20px;
    text-align: center;
  }
}

@media screen and (max-width: 560px) {
  .life__title {
    width: 350px;
  }
}

@media screen and (max-width: 400px) {
  .life__title {
    width: 300px;
    font-size: 18px;
  }
}
