.bag-main__bag-title {
  font-size: 24px;
  font-weight: 700;
  margin: 0;
  width: 103px;
  height: 35px;
}

@media screen and (max-width: 768px) {
  .bag-main__bag-title {
    width: 86px;
    height: 35px;
    font-size: 20px;
  }
}
