.content__delivery-text {
  font-size: 16px;
  font-weight: 400;
  width: 181px;
  height: 21px;
  margin: 0;
  margin-top: 13px;
}

@media screen and (max-width: 925px) {
  .content__delivery-text {
    font-size: 14px;
    width: fit-content;
    justify-self: center;
    margin: 0;
  }
}
