.footer {
  padding: 83px 40px;
  display: flex;
  gap: 20px;
  justify-content: center;
  background: rgba(254, 90, 100, 0.34);
}

@media screen and (max-width: 1050px) {
  .footer {
    max-width: 970px;
    height: fit-content;
    flex-wrap: wrap;
  }
}
