.footer {
  padding: 83px 40px;
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

@media screen and (max-width: 375px) {
  .footer {
    display: grid;
    justify-content: center;
  }
}
