.content__box-text {
  display: none;
}

@media screen and (max-width: 1300px) {
  .content__box-text {
    display: grid;
    width: 384px;
    height: 140px;
    gap: 20px;
  }
}

@media screen and (max-width: 925px) {
  .content__box-text {
    font-size: 14px;
  }
}

@media screen and (max-width: 790px) {
  .content__box-text {
    display: none;
  }
}
