.daily-planer {
  padding: 83px 40px;
  display: flex;
  justify-content: center;
  gap: 20px;
  background: var(--brown);
}

@media screen and (max-width: 1236px) {
  .daily-planer {
    display: grid;
  }
}
